* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}


body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  
}

a{
  color: grey;
}


h1, h3, h4 {
  color: grey;
}
header {

  width: 100%;
  background-color: rgb(62, 62, 110);
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  height: 3em;
  padding: 0
}


ul li {
  padding-right: 18px;
  font-weight: bold;

}

li:first-child {
margin-right: auto;
margin-left: 10px;
}


.heroBanner {
  display: flex;
  justify-content:last baseline;
  grid-area: heroBanner;
  height: 250px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("images/coding-background-2.gif");
  background-size: 100%;
  background-position: center;
}


h2 {
  color: white;
}

#heroTitle {
  font-size:20px;
  margin-top: 180px;
  margin-left: 800px;
  margin-bottom: 25px;
  background-color: rgb(62, 62, 110);
  text-justify: center;
}
